<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webuploader/webuploader.css" />
</head>
<body>

<div id="uploader" class="wu-example">
    <!--用来存放文件信息-->

    <div class="uploader-container">
        <div id="filePicker">选择</div>
    </div>

    <div id="item1">
        <p class="state">

        </p>
    </div>

</div>


</body>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/webuploader/webuploader.js"></script>
<script>
    var BASE_URL = "http://localhost:8011";
    var MD5ofFile="";




    var fileMd5;
    //监听分块上传过程中的三个时间点
    WebUploader.Uploader.register({
        "before-send-file":"beforeSendFile",    //上传单个文件前触发，用于向服务器发送请求验证MD5;即文件是否存在
        "before-send":"beforeSend",              //上传分块前触发，用于向服务器发送请求验证分块在服务器中是否存在
        "after-send-file":"afterSendFile",
    },{
        //时间点1：所有分块进行上传之前调用此函数
        beforeSendFile:function(file){
            var deferred = WebUploader.Deferred();
            //1、计算文件的唯一标记，用于断点续传
            (new WebUploader.Uploader()).md5File(file,0,10*1024*1024)
                .progress(function(percentage){
                    $('#item1').find("p.state").text("正在读取文件信息...");
                })
                .then(function(val){
                    fileMd5=val;
                    $('#item1').find("p.state").text("成功获取文件信息...");
                    //获取文件信息后进入下一步
                    deferred.resolve();
                });
            return deferred.promise();
        },

        beforeSend:function(block){                         //如果有分块上传，则每个分块上传之前调用此函数
            var deferred = WebUploader.Deferred();          //规定返回一个deffer对象，实现异步调用
            $.ajax({
                type:"POST",
                url:"<%=basePath%>Video?action=checkChunk",
                data:{
                    //文件唯一标记
                    fileMd5:fileMd5,
                    //当前分块下标
                    chunk:block.chunk,
                    //当前分块大小
                    chunkSize:block.end-block.start
                },
                dataType:"json",
                success:function(response){
                    if(response.ifExist){
                        //分块存在，跳过
                        deferred.reject();
                    }else{
                        //分块不存在或不完整，重新发送该分块内容
                        deferred.resolve();
                    }
                }
            });

            this.owner.options.formData.fileMd5 = fileMd5;
            deferred.resolve();
            return deferred.promise();
        },
        //时间点3：所有分块上传成功后调用此函数
        afterSendFile:function(){
            //如果分块上传成功，则通知后台合并分块
            $.ajax({
                type:"POST",
                url:"<%=basePath%>Video?action=mergeChunks",
                data:{
                    fileMd5:fileMd5,
                },
                success:function(response){
                    alert("上传成功");
                    var path = "uploads/"+fileMd5+".mp4";
                    $("#item1").attr("src",path);
                }
            });
        }
    });

    var uploader = WebUploader.create({
        auto:true,            //选中直接上传
        // swf文件路径
        swf: BASE_URL + '/swf/Uploader.swf',

        // 文件接收服务端
        server: BASE_URL+'/upload',
        formData:{ guid:MD5ofFile },               //针对每个文件生成不同的MD5值，作为后台的文件名或文件夹名
        fileVal:'fileToUpload',   //上传的文件name
        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',
        chunked:true,           //是否分片
        chunkSize:2 * 1024 * 1024,
        chunkRetry:2,    //允许重传
        threads:3,
        fileNumLimit: 300,
        fileSizeLimit: 2000 * 1024 * 1024,    // 2000 M
        fileSingleSizeLimit: 4*500 * 1024 * 1024,    // 2000 M
        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
        resize: false

    });

    /*

    uploader.onUploadProgress = function( file, percentage ) {
        console.log("onUploadProgress");
    };

    uploader.onFileQueued = function( file ) {
        console.log("onFileQueued")
    };

    uploader.onFileDequeued = function( file ) {
       console.log("onFileDequeued");
    };




    /*
    uploader.onError = function( code ) {
        console.log("onError");
    };
    */


    uploader.on( 'all', function( type ) {
        console.log(type);
    });

    uploader.on( 'uploadStart', function(file) {

    });

    //文件加入队列进行的操作
    uploader.on( 'fileQueued', function(file) {
        var deferred = WebUploader.Deferred();       //返回一个jquery中的Deffered对象，便于添加done(),fail()函数等



    });




    /*
    //上传之前计算文件的MD5
    uploader.on( 'beforeFileQueued', function(file ) {
        
        console.log("beforeFileQueued");
    });

    */



    // 文件上传过程中创建进度条实时显示。
//    uploader.on( 'uploadProgress', function( file, percentage ) {
        /*
        var $li = $( '#'+file.id ),
            $percent = $li.find('.progress span');

        // 避免重复创建
        if ( !$percent.length ) {
            $percent = $('<p class="progress"><span></span></p>')
                .appendTo( $li )
                .find('span');
        }
        $percent.css( 'width', percentage * 100 + '%' );
        */
//       console.log(percentage*100+'%');
//
//    });

//    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
//    uploader.on( 'uploadSuccess', function( file ) {
//        //$( '#'+file.id ).addClass('upload-state-done');
//        console.log("success");
//    });
//
//    // 文件上传失败，显示上传出错。
//    uploader.on( 'uploadError', function( file ) {

        /*
        var $li = $( '#'+file.id ),
            $error = $li.find('div.error');

        // 避免重复创建
        if ( !$error.length ) {
            $error = $('<div class="error"></div>').appendTo( $li );
        }

        $error.text('上传失败');

        */
//        console.log("error");
//    });

//    // 完成上传完了，成功或者失败，先删除进度条。
//    uploader.on( 'uploadComplete', function( file ) {
//      //  $( '#'+file.id ).find('.progress').remove();
//        console.log("complete");
//    });
</script>
</html>