<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" type="text/css" href="/webuploader/webuploader.css"/>-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/fileinput.css" />
    <link rel="stylesheet" type="text/css" href="/css/docs.css" />
    <style>
        .progress-float{
            /*position:absolute;*/
            width:600px;
        }

        .progress-father{
            position:relative;
        }

        .display-none{
            display:none;
        }

        .margin{
           margin: 10px;
        }
    </style>
</head>

<body>

<div id="uploader" class="wu-example">
    <!--用来存放文件信息-->

    <!--
    <div class="uploader-container">
        <div id="filePicker">选择</div>
    </div>

    <div id="item1">
        <p class="state">
        </p>
    </div> -->

    <div class="container ">
        <div style="margin-top:240px;margin-bottom:auto;">
            <div class="row" >
                <div class="col-md-2"></div>
                <div class="col-md-8 col-sm-12">
                    <div class="col-md-12 margin">
                        <!--<div class="progress-father">-->
                            <!--<div class="progress-float">-->
                                <div class="input-group">
                                    <div tabindex="-1" class="form-control">
                                    </div>
                                    <div class="input-group-btn">
                                        <div id="filePicker" class="btn btn-lg btn-outline btn-file"><i class="glyphicon glyphicon-folder-open"></i> &nbsp;上传
                                            <input id="fileToUpload" class="file" type="file" multiple="" data-preview-file-type="any"
                                                   data-upload-url="#"  data-preview-file-icon=""></div>
                                    </div>
                                </div>
                            <!--</div>-->
                        </div>
                    <!--</div>-->
                    <div class="col-md-12 margin">
                    <div id="progress" class="display-none">
                        <!--<div class="input-group">-->
                        <div class="progress">
                            <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="background-color: #563d7c; height:2em;min-width: 2em; width: 2%; display:inline;">
                                2%
                            </div>
                        </div>
                        <!--</div>-->
                    </div>
                    </div>


                        <div class="col-md-12 margin" style="height:55px;">
                            <div class="col-md-2">
                              <button class="cyh-cancel btn btn-lg btn-outline " style="margin:0 auto;" >取消</button>
                            </div>
                            <div class="col-md-8"></div>
                            <div class="col-md-2">
                                <button class="cyh-pause btn btn-lg btn-outline" style="margin:0 auto;" data-bind="pause">暂停</button>
                            </div>
                        </div>

                        <div class="col-md-12 margin">
                            <div id="fileName"></div>
                            <div id="fileSize"></div>
                            <div id="fileType"></div>
                        </div>
                        <div class="col-md-12 margin">
                            <div id="item1">
                                <p class="state">
                                </p>
                            </div>
                        </div>

                </div>

                <div class="col-md-2"></div>
            </div>
        </div>
    </div>




</div>
</body>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/webuploader/webuploader.js"></script>
<script>


    var BASE_URL = "http://localhost:8011";
    var UPLOADFUNC = "/upload";
    var fileMd5;
    var suffix;
    var fileExist = false;       //文件存在全局变量
    var numChunks;


    function info(text){       //提示信息
        $("#progress-bar").text(text);
    };


    function cancel(uploader,file){
        if( !(!!$(".cyh-cancel").data("events") && !!$(".cyh-cancel").data("events")["click"])){
            $(".cyh-cancel").click(function(){
                uploader.cancelFile( file );
                $.ajax({
                    type: "POST",
                    url: BASE_URL + UPLOADFUNC,
                    data: {
                        file: fileMd5,                         //文件唯一标记
                        cancel: true,                         //文件后缀名
                    },
                    async: true,                                //注意，这里是同步请求，也就是请求完毕后才执行$.ajax后面的函数
                    dataType: "json",
                    success: function (response) {
                        alert("删除成功");
                    }
                });
            });
        }
    }

    function pause(uploader,file){
        if( ! (!!$(".cyh-pause").data("events") &&  !!$(".cyh-pause").data("events")["click"])) {
            $(".cyh-pause").click(function () {
                if ($(".cyh-pause").attr("data-bind") == "pause") {
                    uploader.stop(true);
                    $(".cyh-pause").text("继续");
                    $(".cyh-pause").attr("data-bind", "continue");
                }
                else {
                    uploader.upload(file);
                    $(".cyh-pause").text("暂停");
                    $(".cyh-pause").attr("data-bind", "pause");
                }
            });
        }
    }

    //二分搜索查找分块
    function binarySearch(arr,key){
        var low=0,
            high=arr.length-1,
            mid=Math.floor((low+high)/2);
        while(low<=high){
            mid=Math.floor((low+high)/2);
            if(key==arr[mid]){
                return mid;
            }else if(key<arr[mid]){
                high=mid-1;
            }else{
                low=mid+1;
            }
        }
        return -1;
    }

    //监听分块上传过程中的三个时间点
    WebUploader.Uploader.register({
        "before-send-file": "beforeSendFile",    //上传单个文件前触发，用于向服务器发送请求验证MD5;即文件是否存在
        "before-send": "beforeSend",              //上传分块前触发，用于向服务器发送请求验证分块在服务器中是否存在
        "after-send-file": "afterSendFile",
    }, {
        //时间点1：所有分块进行上传之前调用此函数
        beforeSendFile: function (file) {
            $('#progress').fadeIn(1000);      //进度条显示
            suffix = file.ext;
            var deferred = WebUploader.Deferred(),
                 owner = this.owner;

            //1、计算文件的唯一标记，用于断点续传
            owner.md5File(file, 0, 10 * 1024 * 1024)
                .progress(function (percentage) {
                   $('#item1').find("p.state").text("正在读取文件信息...");
                   //info("正在读取文件信息...");
                })
                // 如果读取出错了，则通过reject告诉webuploader文件上传出错。
                .fail(function() {
                    deferred.reject();
                })
                .then(function (val) {
                    fileMd5 = val;
                    $.ajax({
                        type: "POST",
                        url: BASE_URL + UPLOADFUNC,
                        data: {
                            fileMd5: fileMd5,                         //文件唯一标记
                            suffix: suffix,                           //文件后缀名
                        },
                        async: true,                                //注意，这里是同步请求，也就是请求完毕后才执行$.ajax后面的函数
                        dataType: "json",
                        success: function (response) {
                            if (response.exist.fileExist) {    //文件存在，设置文件存在全局变量，避免继续发送分块信息
                                fileExist = true;
                                //deferred.reject();      //文件存在直接上传完成
                                owner.skipFile( file );              //跳过文件上传
                                console.log('文件重复，已跳过');
                            }
                            numChunks = response.chunks;
                            console.log(file);
                            pause(owner,file);    //暂停
                            cancel(owner,file);    //取消文件

                            deferred.resolve();    // 介绍此promise, webuploader接着往下走。
                        }
                    });
                   $('#item1').find("p.state").text("成功获取文件信息...");
                   // info("成功获取文件信息...");
                    //获取文件信息后进入下一步
                   // deferred.resolve();
                });
            return deferred.promise();
        },

        beforeSend: function (block) {                         //如果有分块上传，则每个分块上传之前调用此函数
            var deferred = WebUploader.Deferred();          //规定返回一个deffer对象，实现异步调用
            if (!fileExist) {                              //文件不存在才去请求分块是否存在，若文件存在，直接秒传
                /*
                $.ajax({
                    type: "POST",
                    url: BASE_URL + UPLOADFUNC,
                    data: {
                        fileMd5: fileMd5,                         //文件唯一标记
                        chunk: block.chunk,                      //当前分块下标
                        suffix: suffix,                          //文件后缀名
                        chunkSize: block.end - block.start         //当前分块大小
                    },
                    async: true,                             //注意，这里是同步请求，也就是请求完毕后才执行$.ajax后面的函数
                    dataType: "json",
                    success: function (response) {

                        if (response.exist.fileExist) {           //文件存在，设置文件存在全局变量，避免继续发送分块信息
                            fileExist = true;
                            deferred.reject();

                        } else {
                            if (response.exist.fileDirExist && response.exist.chunkExist)   //两者都存在才不发送分块
                                deferred.reject();
                            else
                                deferred.resolve();    //分块不存在或不完整或文件夹跟分块都不存在，重新发送该分块内容
                        }
                    }
                });
                */

                 if(numChunks != null){
                     if(binarySearch(numChunks,block.chunk) != -1)
                         deferred.reject();         //分块存在跳过
                     else
                         deferred.resolve();
                 }else
                     deferred.resolve();

            }else
                deferred.reject();   //文件存在
            this.owner.options.formData.fileMd5 = fileMd5;   //上传的文件的Md5标识码
            this.owner.options.formData.suffix = suffix;
            return deferred.promise();
        },
        //时间点3：所有分块上传成功后调用此函数
        afterSendFile: function () {

            if(!fileExist){
                //如果分块上传成功，则通知后台合并分块
                $.ajax({
                    type:"POST",
                    url: BASE_URL + UPLOADFUNC,
                    data:{
                        fileMd5:fileMd5,
                        suffix:suffix,
                        merge:true
                    },
                    success:function(response){
                        $('#item1').find("p.state").text("文件上传成功...");
                        info("文件上传成功...");
                        // $("#progress").fadeOut(1000);         //动画  变透明
                    }
                });
                // $('#item1').find("p.state").text("合并中...");
                info("合并中...");
            }else{
                $("#progress-bar").css("width",100+'%');
                info("文件上传成功...");
                $('#item1').find("p.state").text("文件上传成功...");
            }

            fileExist = false;                        //一个文件上传完毕后置文件不存在标志位false
            this.owner.reset();  //重置队列
        }
    });

    var log = (function () {
        var dom = $('#item1 p.state');
        return function (str) {
            dom.append('<p>' + str + '</p>')
        }
    })();


    var uploader = WebUploader.create({
        auto: true,            //选中直接上传
        // swf文件路径
        swf: BASE_URL + '/swf/Uploader.swf',

        // 文件接收服务端
        server: BASE_URL + UPLOADFUNC,
        //formData:{ fileMd5:MD5ofFile },               //针对每个文件生成不同的MD5值，作为后台的文件名或文件夹名
        fileVal: 'fileToUpload',   //上传的文件name
        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',
        chunked: true,           //是否分片
        chunkSize: 5 * 1024 * 1024,
        chunkRetry: 2,    //允许重传
        threads: 5,
        duplicate:true,
        fileNumLimit: 300,
        fileSizeLimit: 2000 * 1024 * 1024,    // 2000 M
        fileSingleSizeLimit: 4 * 500 * 1024 * 1024,    // 2000 M
        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
        resize: false

    });

    /*

     uploader.onUploadProgress = function( file, percentage ) {
     console.log("onUploadProgress");
     };

     uploader.onFileQueued = function( file ) {
     console.log("onFileQueued")
     };

     uploader.onFileDequeued = function( file ) {
     console.log("onFileDequeued");
     };

     /*
     uploader.onError = function( code ) {
     console.log("onError");
     };
     */


    uploader.on('all', function (type) {
        console.log(type);
    });

    uploader.on('uploadStart', function (file) {

    });

    //文件加入队列进行的操作
    uploader.on('fileQueued', function (file) {
        //    var deferred = WebUploader.Deferred();       //返回一个jquery中的Deffered对象，便于添加done(),fail()函数等
        var start = +new Date();

        this.md5File(file, 0, 1 * 1024 * 1024)     // 返回的是 promise 对象
        //             .progress(function(percentage) {     // 可以用来监听进度
        //                console.log('Percentage:', percentage);
        //             })
            .then(function (ret) {              // 处理完成后触发
                // console.log('md5:', ret);
                var end = +new Date();
                log('HTML5: md5 ' + file.name + ' cost ' + (end - start) + 'ms get value: ' + ret);
            });

    });


    /*
     //上传之前计算文件的MD5
     uploader.on( 'beforeFileQueued', function(file ) {
     console.log("beforeFileQueued");
     });

     */

    // 文件上传过程中创建进度条实时显示。
    uploader.on( 'uploadProgress', function( file, percentage ) {
     var $li = $( '#'+file.id ),
     $percent = $li.find('.progress span');

     /*
     // 避免重复创建
     if ( !$percent.length ) {
     $percent = $('<p class="progress"><span></span></p>')
     .appendTo( $li )
     .find('span');
     }

     $percent.css( 'width', percentage * 100 + '%' );
      */

       // $('#item1').find("p.state").text("上传中..."+parseInt(percentage*100)+'%');
        info(parseInt(percentage*100)+'%');
        $("#progress-bar").css("width",percentage*100+'%');
           console.log(percentage*100+'%');

    });

    //    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    //    uploader.on( 'uploadSuccess', function( file ) {
    //        //$( '#'+file.id ).addClass('upload-state-done');
    //        console.log("success");
    //    });
    //
    //    // 文件上传失败，显示上传出错。
    //    uploader.on( 'uploadError', function( file ) {

    /*
     var $li = $( '#'+file.id ),
     $error = $li.find('div.error');

     // 避免重复创建
     if ( !$error.length ) {
     $error = $('<div class="error"></div>').appendTo( $li );
     }

     $error.text('上传失败');

     */
    //        console.log("error");
    //    });

    //    // 完成上传完了，成功或者失败，先删除进度条。
    //    uploader.on( 'uploadComplete', function( file ) {
    //      //  $( '#'+file.id ).find('.progress').remove();
    //        console.log("complete");
    //    });
</script>
</html>